
<template>
    <app-layout title="Dashboard">
        <div class="col-12 col-md-12 mt-3 mt-md-0">
                  <div class="card h-100">
                    <div class="card-header">
                      <span class="text-primary-d2 text-120">Productos/Agregar</span>
                    </div>

                    <div class="card-body">
                      <!-- Tinydate picker plugin -->
                      <div class="form-field">
                        <div class="pos-rel">
                            <label for="">Nombre del producto</label>
                          <input v-model="form.name" type="text" class="form-control" id="id-date-1">
                          <span v-if="errors.name" class="badge badge-danger mr-1">{{errors.name[0]}}</span><br>

                         <label class="mt-4" for="">Descripción del producto</label>
                          <input v-model="form.description" type="text" class="form-control" id="id-date-1">
                          <span v-if="errors.description" class="badge badge-danger mr-1">{{errors.description[0]}}</span>
                        </div>
                      </div>


                      <hr class="border-dotted my-35">


                      <div id="id-daterange-wrapper" class="pos-rel">
                        <!-- daterange -->
                        <div class="form-row">
                          <div class="col">
                              <label for="">SKU</label>
                            <input v-model="form.sku" type="text" id="id-daterange-from" class="form-control ex-inputs-start" placeholder="">
                            <span v-if="errors.sku" class="badge badge-danger mr-1">{{errors.sku[0]}}</span>
                          </div>

                          <div class="text-grey-l2">_</div>

                          <div class="col">
                              <label for="">Precio</label>
                                <input v-model="form.price" id="id-daterange-to" class="form-control ex-inputs-end"  type="number">
                                <span v-if="errors.price" class="badge badge-danger mr-1">{{errors.price[0]}}</span>
                          </div>
                        </div>

                      </div>


                      <hr class="border-dotted my-35">

                     <button @click="Submit()" class="btn btn-primary"> Guardar</button>                  

                     

                    </div><!-- /.card-body -->
                  </div><!-- /.card -->
        </div>
    </app-layout>
</template>

<script>
    
    import AppLayout from '@/Layouts/AppLayout.vue'
import Button from '../../Jetstream/Button.vue'
import { Method } from '@inertiajs/inertia'
    

    export default {
        components: {
            AppLayout
        },
        data (){
            return {
                form : {
                    name : "",
                    sku : "",
                    description : "",
                    price: ""
                },

                errors : []
            }
        },

        methods : {
            Submit(){
                axios.post(this.route("products.store" , this.form) )
                .then(res=> {
                    this.$inertia.get(this.route('products.index') , {createdProduct : true})
                })
                .catch(err=> {
                    this.errors=  err.response.data;
                })
            }
        }
    }
</script>
