<template>
    <app-layout title="Administrar usuarios" component="Admin">


        <div class="row mt-2">
            <div class="col-lg-12">

                <div class="mt-4 mt-lg-0 card dcard h-auto overflow-hidden shadow border-t-0">
                    <div class="card-body p-0 table-responsive-xl">

                        <div class="row">
                            <div class="col-md-10">

                            </div>
                            <div class="col-md-2 mt-3  mb-2 ">
                                <div class="btn-group btn-group-md d-flex justify-content-right mr-1 ml-1">
                                    <Link :href="route('products.create')" type="button" class="btn btn-outline-primary"><i
                                            class="fa fa-plus"></i> Agregar</Link>
                                </div>
                            </div>
                        </div>


                        <table id="table_products" class="table table-striped display compact" style="width:100%">
                            <thead>
                                <tr class="bgc-white text-secondary-d3 text-95">
                                    <th></th>
                                    <th class="">
                                        Nombre
                                    </th>


                                    <th>
                                        SKU
                                    </th>

                                    <th>Descripción</th>
                                    <th>Valor</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="(Product, key) in Products" :key="key" class="bgc-h-orange-l4">
                                    <td></td>
                                    <td>{{Product.name}}</td>
                                    <td>{{Product.sku}}</td>
                                    <td>{{Product.description}}</td>
                                    <td>{{Product.price}}</td>
                            
                                    <td class="text-right pr-35">

                                        <button type="button" @click="newSale(Product)" class="btn btn-success mr-2"> <i
                                            class="fa fa-dollar-sign "></i></button>

                                        <Link :href="route('products.edit' , { id:  Product.id } )" class="btn btn-orange"> <i
                                            class="fa fa-pen "></i>
                                        </Link>

                                        <button type="button" @click="_delete(Product.id)" class="btn btn-danger ml-2"> <i
                                            class="fa fa-times "></i></button>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.col -->
        </div>




        <div class="modal fade" data-backdrop-bg="bgc-white" id="ModalNewSale" tabindex="-1" role="dialog" aria-labelledby="dangerModalLabel" aria-hidden="true">
              <div class="modal-dialog " role="document">
                <div class="modal-content bgc-transparent brc-success-m2 shadow">
                  <div class="modal-header py-2 bgc-success-tp1 border-0  radius-t-1">
                    <h5 class="modal-title text-white-tp1 text-110 pl-2 font-bolder" id="dangerModalLabel">
                      VENDER PRODUCTO {{productSelected.sku}}
                    </h5>

                    <button type="button" class="position-tr btn btn-xs btn-outline-white btn-h-yellow btn-a-yellow mt-1px mr-1px btn-brc-tp" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true" class="text-150">&times;</span>
                    </button>
                  </div>


                  <div class="modal-body bgc-white-tp2 p-md-4 pl-md-5">
                   
                    <div class="row">
                        <div class="col-md-12">                            
                            <label>Empresa</label>
                            <select v-model="formNewSale.store_id" class="form-control" name="" id="">
                                
                                <option v-for="(store , key) in AllStores" :key="key" :value="store.id">{{store.name}}</option>
                            </select>
                            <span v-if="errorNewSale.store" class="badge badge-danger mr-1">{{errorNewSale.store}}</span>
                        </div>
                        
                    </div>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <label >Cantidad</label>
                            <input @keyup="calculeNewSale()" class="form-control" v-model="formNewSale.amount" placeholder="Cant" type="number" name="" id="">
                            <span v-if="errorNewSale.amount" class="badge badge-danger mr-1">{{errorNewSale.amount}}</span>
                        </div>
                        <div class="col-md-6">
                            <label for="">total</label>
                            <input v-model="formNewSale.total" readonly class="form-control" type="text" name="" id="">
                        </div>
                    </div>

                  </div>

                  <div class="modal-footer bgc-white-tp2 border-0">
                    <button @click="saveNewSale()" type="button" class="btn px-4 btn-success" >
                      Guardar
                    </button>

                    <button  type="button" class="btn px-4 btn-light-grey" id="id-danger-yes-btn" data-dismiss="modal">
                      Cancelar
                    </button>
                  </div>
                </div>
              </div>
        </div>



    </app-layout>
</template>

<script>

    import AppLayout from '@/Layouts/AppLayout.vue'

    import { Inertia } from '@inertiajs/inertia';
    import { Head, Link } from '@inertiajs/inertia-vue3';
import Label from '../../Jetstream/Label.vue';

    export default {
        components: {
            AppLayout,
            
            Link
        
            
        },

        props: {
            Products: Array,
            createProduct : Boolean,
            UpdatedProduct : Boolean,
            DeleteProduct: Boolean
        },

        data (){
            return {
              productSelected  : [],
              AllStores : [],

              formNewSale : {
                    store_id : "",
                    product_id : "",
                    amount  : 0,
                    unit : 0,
                    total : 0
              },

              errorNewSale : {
                  store : false,
                  amount : false
              }
            }
        },

        mounted() {
            this.ActiveDatatable();
            this.ValidateAlerts();
        },

        methods: {
            
            ValidateAlerts(){
                if(this.createProduct){
                    swal("Producto guardado.", "El producto ha sido añadido correctamente.", "success")
                }

                if(this.UpdatedProduct){
                    swal("Producto actualizado.", "El producto ha sido actualizado correctamente.", "success")
                }

                if(this.DeleteProduct){
                     swal("Producto borrado.", "El producto ha sido borrado correctamente.", "success")
                }
            },

            ActiveDatatable() {
                var table = $("#table_products").DataTable({
                    responsive: true,
                    searching: true,
                    language: {
                        searchPlaceholder: " Buscar...",
                        sProcessing: "Procesando...",
                        sLengthMenu: "Mostrar _MENU_ registros",
                        sZeroRecords: "No se encontraron resultados",
                        sEmptyTable: "Ningún dato disponible en esta tabla =(",
                        sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                        sInfoPostFix: "",
                        sSearch: "",
                        sUrl: "",
                        sInfoThousands: ",",
                        sLoadingRecords: "Cargando...",
                        oPaginate: {
                            sFirst: "Primero",
                            sLast: "Último",
                            sNext: "Siguiente",
                            sPrevious: "Anterior"
                        }
                    }
                })

            },

            _delete(id){
              
                Swal.fire({
                title: '¿Seguro que desea eliminar este producto?',
                showDenyButton: true,
                showCancelButton: true,
                showConfirmButton: false,
                denyButtonText: `Si, eliminar`,
                }).then((result) => {
                    var that = this;
                    if (result.isDenied) {
                        axios.delete(this.route("products.delete" , {id: id}) ).
                        then(function () {
                            that.$inertia.get(that.route('products.index') , {DeleteProduct : true})
                        })
                    }
                })

            },

            calculeNewSale () {
                this.formNewSale.total =  ( this.formNewSale.unit * this.formNewSale.amount );
            },

            newSale (product){
                $("#ModalNewSale").modal("show");
                this.productSelected = product;
                this.formNewSale.unit = product.pricenumeric;
                this.formNewSale.product_id = product.id;
                axios.get(this.route("stores.all"))
                .then(res=> {
                    this.AllStores = res.data
                })
            },

            saveNewSale(){
                this.errorNewSale = {amount: false, store : false};
                if(this.formNewSale.amount == 0 ){
                   this.errorNewSale.amount = "Este campo es obligatorio.";
                }

                if(!this.formNewSale.store_id){
                   this.errorNewSale.store = "Este campo es obligatorio.";
                }

                if(!this.errorNewSale.amount && !this.errorNewSale.store  ){
                    axios.post(this.route("sales.store"), this.formNewSale)
                    .then(res => {
                        $("#ModalNewSale").modal("hide");
                        swal("Venta registrada.", "La venta fue registrada correctamente.", "success")
                    })
                }

            }

           

        }
    }
</script>