<template>
    <app-layout title="Administrar tiendas" component="Admin">


        <div class="row mt-2">
            <div class="col-lg-12">

                <div class="mt-4 mt-lg-0 card dcard h-auto overflow-hidden shadow border-t-0">
                    <div class="card-body p-0 table-responsive-xl">

                        <div class="row">
                            <div class="col-md-10">

                            </div>
                            <div class="col-md-2 mt-3  mb-2 ">
                                <div class="btn-group btn-group-md d-flex justify-content-right mr-1 ml-1">
                                    <Link :href="route('store.create')" type="button" class="btn btn-outline-primary"><i
                                            class="fa fa-plus"></i> Agregar</Link>
                                </div>
                            </div>
                        </div>


                        <table id="table_stores" class="table table-striped display compact" style="width:100%">
                            <thead>
                                <tr class="bgc-white text-secondary-d3 text-95">
                                    <th></th>
                                    <th class="">
                                        Nombre
                                    </th>


                                    <th>
                                        Latitude
                                    </th>

                                    <th>Longitude</th>
                                    <th>Fecha de apertura</th>
                                    <th>Ventas</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr v-for="(Store, key) in Stores" :key="key" class="bgc-h-orange-l4">
                                    <td></td>
                                    <td>{{Store.name}}</td>
                                    <td>{{Store.latitude}}</td>
                                    <td>{{Store.longitude}}</td>
                                    <td>{{Store.opening}}</td>
                                    <td><Link :href="route('store.sales' , {id : Store.id})" :class="Store.totalNumVentas == 0 ? 'btn btn-warning' : 'btn btn-success' ">
                                    {{Store.totalNumVentas}}</Link></td>
                                    <td class="text-right pr-35">
                                        <Link :href="route('store.edit' , { id:  Store.id } )" class="btn btn-orange"> <i
                                            class="fa fa-pen "></i>
                                        </Link>

                                        <button type="button" @click="_delete(Store.id)" class="btn btn-danger ml-2"> <i
                                            class="fa fa-times "></i></button>
                                    </td>
                                </tr>

                              



                            </tbody>
                        </table>
                    </div><!-- /.card-body -->
                </div>
            </div><!-- /.col -->
        </div>

       <ModalFormUser :User="UserSelected" :Type = "'edit'"></ModalFormUser>


    </app-layout>
</template>

<script>

    import AppLayout from '@/Layouts/AppLayout.vue'

    import { Inertia } from '@inertiajs/inertia';
    import { Head, Link } from '@inertiajs/inertia-vue3';
import Button from '../../Jetstream/Button.vue';

    export default {
        components: {
            AppLayout,
            
            Link
            
        },

        props: {
            Stores: Array,
            createStore : Boolean,
            UpdatedStore : Boolean,
            DeleteStore: Boolean
        },

        data (){
            return {
              
            }
        },

        mounted() {
            this.ActiveDatatable();
            this.ValidateAlerts();
        },

        methods: {
            ValidateAlerts(){
                if(this.createStore){
                    swal("Tienda guardada.", "La tienda ha sido añadida correctamente.", "success")
                }

                if(this.UpdatedStore){
                    swal("Tienda actualizada.", "La tienda ha sido actualizada correctamente.", "success")
                }

                if(this.DeleteStore){
                     swal("Tienda borrada.", "La tienda ha sido borrada correctamente.", "success")
                }
            },

            ActiveDatatable() {
                var table = $("#table_stores").DataTable({
                    responsive: true,
                    searching: true,
                    language: {
                        searchPlaceholder: " Buscar...",
                        sProcessing: "Procesando...",
                        sLengthMenu: "Mostrar _MENU_ registros",
                        sZeroRecords: "No se encontraron resultados",
                        sEmptyTable: "Ningún dato disponible en esta tabla =(",
                        sInfo: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        sInfoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                        sInfoFiltered: "(filtrado de un total de _MAX_ registros)",
                        sInfoPostFix: "",
                        sSearch: "",
                        sUrl: "",
                        sInfoThousands: ",",
                        sLoadingRecords: "Cargando...",
                        oPaginate: {
                            sFirst: "Primero",
                            sLast: "Último",
                            sNext: "Siguiente",
                            sPrevious: "Anterior"
                        }
                    }
                })

            },

            _delete(id){
              
                Swal.fire({
                title: '¿Seguro que desea eliminar esta tienda?',
                showDenyButton: true,
                showCancelButton: true,
                showConfirmButton: false,
                denyButtonText: `Si, eliminar`,
                }).then((result) => {
                    var that = this;
                    if (result.isDenied) {
                        axios.delete(this.route("store.delete" , {id: id}) ).
                        then(function () {
                            that.$inertia.get(that.route('store.index') , {DeleteStore : true})
                        })
                    }
                })

            }

           

        }
    }
</script>