
<template>
    <app-layout title="Ver ventas">
        <div class="row mt-5">
        
              <div class="col-lg-12">
                <div class="mt-4 mt-lg-0 card dcard h-auto overflow-hidden shadow border-t-0">
                  <div class="card-body p-0 table-responsive-xl">
                    <table class="table text-dark-m1 brc-black-tp10 mb-1">
                      <thead>
                        <tr class="bgc-white text-secondary-d3 text-95">
                          <th class="py-3 pl-35">
                            Producto
                          </th>

                          <th>
                            Cantidad
                          </th>

                          <th>
                            Valor Unit.
                          </th>

                          <th>
                            Total 
                          </th>

                          <th></th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr v-for="(Sale , key ) in Sales" :key="key" class="bgc-h-orange-l4">
                          <td class="pl-35">
                           <b>{{Sale.sku}}</b> {{Sale.name_product}}
                          </td>

                          <td class="text-dark-m3">
                             {{Sale.amount}}
                          </td>

                          <td class="text-dark-l1 text-95">
                            {{Sale.unitformat}}
                          </td>
                          
                          <td class="text-dark-l1 text-95">
                            {{Sale.totalformat}}
                          </td>
                          <td class="text-right pr-35">
                            <button type="button" class="btn btn-sm btn-outline-default shadow-sm radius-2px px-25 py-1">
                              Actions
                              <i class="fa fa-caret-down ml-4"></i>
                            </button>
                          </td>
                        </tr>

                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            
                            <th>{{grandTotal}}</th>
                        </tr>
                      </tbody>
                    </table>
                  </div><!-- /.card-body -->
                </div>

              </div><!-- /.col -->
            </div>
    </app-layout>
</template>

<script>
    
    import AppLayout from '@/Layouts/AppLayout.vue'
    

    export default {
        components: {
            AppLayout
        },

        props: {
            Sales: Array,
            grandTotal : String
        }
    }
</script>
