<template>
    <div>

        <Head :title="title " />

        <div class="body-container">
          
            <div id="sidebar" class="sidebar sidebar-fixed sidebar-hover sidebar-h sidebar-white sidebar-top"
                data-swipe="true" data-backdrop="true" data-dismiss="true">
                <div class="sidebar-inner border-r-0 border-b-1 brc-secondary-l2 shadow-md">
                    <div class="container container-plus px-0 d-flex flex-column flex-xl-row">

                        <div class="flex-grow-1 d-xl-flex flex-xl-row ace-scroll" data-ace-scroll="{}">
                            <!-- ace-scroll is not applied in desktop view, but it's used in mobile view -->
                          
                            <ul class="nav nav-spaced nav-fill text-center nav-active-sm has-active-border active-on-top">


                             
                                <li class="nav-item " >

                                    <Link :href="route('products.index')" class="nav-link" >
                                        <i class="nav-icon fa fa-boxes"></i>
                                        <span class="nav-text fadeable">
                                            <span>Productos</span>
                                        </span>


                                    </Link>

                                    <b class="sub-arrow"></b>

                                </li>

                               
                                <li class="nav-item " >

                                    <Link :href="route('store.index')" class="nav-link" >
                                        <i class="nav-icon fa fa-store"></i>
                                        <span class="nav-text fadeable">
                                            <span>Tiendas</span>
                                        </span>


                                    </Link>

                                    <b class="sub-arrow"></b>

                                </li>
                                
                                

                            
                            </ul>
                        </div>

                        <div class="sidebar-section d-none d-xl-flex ml-xl-auto pl-xl-4">
                            <!-- the logout and settings button, only shown in desktop view -->
                            <div class="sidebar-section-item fadeable-below fadeable-center">
                                <div class="fadeinable w-auto">
                                    <a href="#" @click="logout()" title="Salir del sistema"
                                        class="btn btn-outline-blue btn-brc-tp radius-5px py-2">
                                        <i class="fa fa-power-off text-140"></i>
                                    </a>
                                </div>
                            </div>




                           
                        </div>

                        <div class="sidebar-section d-xl-none ml-xl-auto">
                            <!-- sidebar footer, only show in mobile view -->
                            <div class="sidebar-section-item fadeable-left fadeable-top">
                                <div class="fadeinable">
                                    <button type="button" class="btn btn-primary btn-bold radius-1">
                                        <i class="fa fa-cloud"></i>
                                    </button>
                                </div>

                                <div id="sidebar-footer" class="fadeable text-center border-t-1 brc-secondary-l3 w-95">
                                    <div class="py-2">
                                        <button type="button" class="btn btn-primary px-5 btn-bold radius-1">
                                            Upgrade
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div><!-- .container -->
                </div><!-- .sidebar-inner -->
            </div>

            <div class="main-container">

                <div role="main" class="main-content">
                    <div class="page-content container container-plus px-md-4 px-xl-5">
                        <!-- Page Content -->
                        <main>
                            <slot></slot>
                        </main>
                    </div>

                    <footer class="footer">
                        <div class="footer-inner">
                            <div class="h-100 pt-3 border-t-1 brc-secondary-l2 bgc-white-tp1 shadow-md">
                                <span class="text-primary-m1 font-bolder text-120">FOOTER  </span>
                                <span class="text-secondary-d2">Application &copy; 2021</span>

                                <span class="mx-3 action-buttons">
                                    <a href="#" class="text-blue-m2 text-140"><i class="fab fa-twitter-square"></i></a>
                                    <a href="#" class="text-blue-d2 text-140"><i class="fab fa-facebook"></i></a>
                                    <a href="#" class="text-orange-d1 text-140"><i class="fa fa-rss-square"></i></a>
                                </span>
                            </div>
                        </div><!-- .footer-inner -->
                    </footer>

                </div>
            </div>





        </div>
    </div>


     
</template>

<script>
    
    import JetApplicationMark from '@/Jetstream/ApplicationMark.vue'
    import JetBanner from '@/Jetstream/Banner.vue'
    import JetDropdown from '@/Jetstream/Dropdown.vue'
    import JetDropdownLink from '@/Jetstream/DropdownLink.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'
    import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default {
        name: "AppLayout",
        props: {
            title: String,
            component : String
        },

        components: {
            Head,
            JetApplicationMark,
            JetBanner,
            JetDropdown,
            JetDropdownLink,
            JetNavLink,
            JetResponsiveNavLink,
            Link,
        },

        data() {
            return {
                meUser :localStorage.getItem('meUser') ? JSON.parse(localStorage.getItem('meUser')) : []
            }
        },

        mounted(){
            this.me();
        },

      
      
        methods: {
            me(){
                
                axios.get(this.route('auth.me'))
                .then((res=> {
                    this.meUser = res.data;
                    localStorage.setItem('meUser' , JSON.stringify( res.data) ) 
                }))
            },
            logout() {
                this.$inertia.post(route('logout'));
            },
        }
    }
</script>