<template>
    <Head title="Log in" />

    <div class="body-container">

      <div class="main-container container bgc-transparent">

        <div class="main-content minh-100 justify-content-center">
          <div class="p-2 p-md-4">
            <div class="row" id="row-1">
              <div class="col-12 col-xl-10 offset-xl-1 bgc-white shadow radius-1 overflow-hidden">

                <div class="row" id="row-2">

                 
                  <div id="id-col-main" class="col-12 col-lg-12 py-lg-12 bgc-white px-0">
                    <!-- you can also use these tab links -->
                   

                    <div class="tab-content tab-sliding border-0 p-0" data-swipe="right">

                      <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
                        <!-- show this in desktop -->
                        <div class="d-none d-lg-block col-md-6 offset-md-3 mt-lg-4 px-0 text-center">
                          <img class="img-fluid" style="max-height: 140px;" src="/template/assets/image/app/logo-app.png" alt="">
                        </div>

                        <!-- show this in mobile device -->
                        <div class="d-lg-none text-secondary-m1 my-4 text-center">
                          <a href="html/dashboard.html">
                            <i class="fa fa-leaf text-success-m2 text-200 mb-4"></i>
                          </a>
                          <h1 class="text-170">
                            <span class="text-blue-d1">
                                META <span class="text-80 text-dark-tp3">ARQUÍMEDES</span>
                            </span>
                          </h1>

                          
                        </div>
                        


                         <jet-validation-errors class="mb-4" />

                        <div v-if="status" class="mb-4 font-medium text-sm text-green-600">
                            {{ status }}
                        </div>

                       




                        <form @submit.prevent="submit" autocomplete="off" class="form-row mt-4">
                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                            <div class="d-flex align-items-center input-floating-label text-blue brc-blue-m2">
                              <input v-model="form.email" type="text" class="form-control form-control-lg pr-4 shadow-none" id="id-login-username" />
                              <i class="fa fa-user text-grey-m2 ml-n4"></i>
                              <label class="floating-label text-grey-l1 ml-n3" for="id-login-username">
                                Usuario
                              </label>
                            </div>
                          </div>


                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-2 mt-md-1">
                            <div class="d-flex align-items-center input-floating-label text-blue brc-blue-m2">
                              <input v-model="form.password" type="password" class="form-control form-control-lg pr-4 shadow-none" id="id-login-password" />
                              <i class="fa fa-key text-grey-m2 ml-n4"></i>
                              <label class="floating-label text-grey-l1 ml-n3" for="id-login-password">
                                Contraseña
                              </label>
                            </div>
                          </div>

                            


                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                           

                            <button type="submit" class="btn btn-primary btn-block px-4 btn-bold mt-2 mb-4">
                              INGRESAR
                            </button>
                            <hr>
                       

                          </div>
                        </form>


                      </div>


                      <div class="tab-pane mh-100 px-3 px-lg-0 pb-3" id="id-tab-signup" data-swipe-prev="#id-tab-login">
                        <div class="position-tl ml-3 mt-3 mt-lg-0">
                          <a href="#" class="btn btn-light-default btn-h-light-default btn-a-light-default btn-bgc-tp" data-toggle="tab" data-target="#id-tab-login">
                            <i class="fa fa-arrow-left"></i>
                          </a>
                        </div>

                        <!-- show this in desktop -->
                        <div class="d-none d-lg-block col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-lg-4 px-0">
                          <h4 class="text-dark-tp4 border-b-1 brc-grey-l1 pb-1 text-130">
                            <i class="fa fa-user text-purple mr-1"></i>
                            Create an Account
                          </h4>
                        </div>

                        <!-- show this in mobile device -->
                        <div class="d-lg-none text-secondary-m1 my-4 text-center">
                          <i class="fa fa-leaf text-success-m2 text-200 mb-4"></i>
                          <h1 class="text-80">
                            <span class="text-blue-d1">META <span class=" text-dark-tp4">ARQUÍMEDES</span></span>
                          </h1>

                          Create an Account
                        </div>


                        <form autocomplete="off" class="form-row mt-4">
                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                            <div class="d-flex align-items-center input-floating-label text-success brc-success-m2">
                              <input type="email" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-email" />
                              <i class="fa fa-envelope text-grey-m2 ml-n4"></i>
                              <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-email">
                                Email
                              </label>
                            </div>
                          </div>


                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                            <div class="d-flex align-items-center input-floating-label text-success brc-success-m2">
                              <input type="text" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-username" />
                              <i class="fa fa-user text-grey-m2 ml-n4"></i>
                              <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-username">
                                Username
                              </label>
                            </div>
                          </div>


                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                            <div class="d-flex align-items-center input-floating-label text-success brc-success-m2">
                              <input type="password" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-password" />
                              <i class="fa fa-key text-grey-m2 ml-n4"></i>
                              <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-password">
                                Password
                              </label>
                            </div>
                          </div>


                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                            <div class="d-flex align-items-center input-floating-label text-success brc-success-m2">
                              <input type="password" class="form-control form-control-lg pr-4 shadow-none" id="id-signup-password2" />
                              <i class="fas fa-sync-alt text-grey-m2 ml-n4"></i>
                              <label class="floating-label text-grey-l1 text-100 ml-n3" for="id-signup-password2">
                                Confirm Password
                              </label>
                            </div>
                          </div>


                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-2">
                            <label class="d-inline-block mt-3 mb-0 text-secondary-d2">
                              <input type="checkbox" class="mr-1" id="id-agree" />
                              <span class="text-dark-m3">I have read and agree to <a href="#" class="text-blue-d2">terms</a></span>
                            </label>

                            <button type="button" class="btn btn-success btn-block px-4 btn-bold mt-2 mb-3">
                              Sign Up
                            </button>
                          </div>
                        </form>


                        <div class="form-row w-100">
                          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex flex-column align-items-center justify-content-center">

                            <hr class="brc-default-l2 mt-0 mb-2 w-100" />

                            <div class="p-0 px-md-2 text-dark-tp4 my-3">
                              Already a member?
                              <a class="text-blue-d1 text-600 mx-1" data-toggle="tab" data-target="#id-tab-login" href="#">
                                Login here
                              </a>
                            </div>

                            <hr class="brc-default-l2 w-100 mb-2" />
                            <div class="mt-n4 bgc-white-tp2 px-3 py-1 text-secondary-d3 text-90">Or Register Using</div>

                            <div class="mt-2 mb-3">
                              <button type="button" class="btn btn-primary border-2 radius-round btn-lg mx-1">
                                <i class="fab fa-facebook-f text-110"></i>
                              </button>

                              <button type="button" class="btn btn-blue border-2 radius-round btn-lg px-25 mx-1">
                                <i class="fab fa-twitter text-110"></i>
                              </button>

                              <button type="button" class="btn btn-danger border-2 radius-round btn-lg px-25 mx-1">
                                <i class="fab fa-google text-110"></i>
                              </button>
                            </div>

                          </div>
                        </div>
                      </div>


                      <div class="tab-pane mh-100 px-3 px-lg-0 pb-3" id="id-tab-forgot" data-swipe-prev="#id-tab-login">
                        <div class="position-tl ml-3 mt-2">
                          <a href="#" class="btn btn-light-default btn-h-light-default btn-a-light-default btn-bgc-tp" data-toggle="tab" data-target="#id-tab-login">
                            <i class="fa fa-arrow-left"></i>
                          </a>
                        </div>


                        <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-5 px-0">
                          <h4 class="pt-4 pt-md-0 text-dark-tp4 border-b-1 brc-grey-l2 pb-1 text-130">
                            <i class="fa fa-key text-brown-m1 mr-1"></i>
                            Recover Password
                          </h4>
                        </div>


                        <form autocomplete="off" class="form-row mt-4">
                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                            <label class="text-secondary-d3 mb-3">
                              Enter your email address and we'll send you the instructions:
                            </label>
                            <div class="d-flex align-items-center">
                              <input type="email" class="form-control form-control-lg pr-4 shadow-none" id="id-recover-email" placeholder="Email" />
                              <i class="fa fa-envelope text-grey-m2 ml-n4"></i>
                            </div>
                          </div>

                          <div class="form-group col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-1">
                            <button type="button" class="btn btn-orange btn-block px-4 btn-bold mt-2 mb-4">
                              Continue
                            </button>
                          </div>
                        </form>


                        <div class="form-row w-100">
                          <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 d-flex flex-column align-items-center justify-content-center">

                            <hr class="brc-default-l2 mt-0 mb-2 w-100" />

                            <div class="p-0 px-md-2 text-dark-tp4 my-3">
                              <a class="text-blue-d1 text-600 btn-text-slide-x" data-toggle="tab" data-target="#id-tab-login" href="#">
                                <i class="btn-text-2 fa fa-arrow-left text-110 align-text-bottom mr-2"></i>Back to Login
                              </a>
                            </div>

                          </div>
                        </div>
                      </div>

                    </div><!-- .tab-content -->
                  </div>

                </div><!-- /.row -->

              </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="d-lg-none my-3 text-white-tp1 text-center">
              Array tic & Fenix bg &copy; 2020
            </div>
          </div>
        </div>

      </div>

    </div>



</template>

<script>
    import { defineComponent } from 'vue'
    import JetAuthenticationCard from '@/Jetstream/AuthenticationCard.vue'
    import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
    import JetButton from '@/Jetstream/Button.vue'
    import JetInput from '@/Jetstream/Input.vue'
    import JetCheckbox from '@/Jetstream/Checkbox.vue'
    import JetLabel from '@/Jetstream/Label.vue'
    import JetValidationErrors from '@/Jetstream/ValidationErrors.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Head,
            JetAuthenticationCard,
            JetAuthenticationCardLogo,
            JetButton,
            JetInput,
            JetCheckbox,
            JetLabel,
            JetValidationErrors,
            Link,
        },

        props: {
            canResetPassword: Boolean,
            status: String
        },

        data() {
            return {
                form: this.$inertia.form({
                    email: '',
                    password: '',
                    remember: false
                }),

                errors : []
            }
        },

        methods: {
            submit() {
                  this.errors = [];

                  axios.post(this.route("auth.login") , this.form)
                  .then(res => {
                      this.$inertia.get(this.route('dashboard'));
                  })
                  .catch(err => {
                      this.errors = err.response.data;
                  })

            }
        }
    })
</script>
